<div class="container">
	<div class="row text-center" >
		<div class="col-sm-3">
			<h3> Build your personal narrative </h3>
			<div>

			</div>
		</div>
		<div class="col-sm-3">
			<h3> Showcasing your technical skills </h3>
			<div>
			</div>
		</div>
		<div class="col-sm-3">
			<h3> One on One Interview Prep </h3>
			<div>
				How do you know if your answer to "What is your greatest weakness" gives the best
				depiction possible of who you are? In one on one prep sessions, we will breakdown your
				answers and ensure that you are showing potential employers the best attributes that you have.
				We will also breakdown technical concpets and problems as well!
			</div>

		</div>
		<div class="col-sm-3">
			<h3> How to interview the interviewer </h3>
			<div>
				An interview is a chance for you to evaluate a prospective company,
				as much as it is a chance for them to evaluate you as a future employee.
				Asking the right questions can give you a lot of insight into the how company
				works, and what you will be doing on a daily basis.
			</div>
		</div>
	</div>
</div>
