<div class="container">

<div> Getting ready for an interview and looking for some extra prep? </div>

<div> Use the form below to request a prep session! </div>

<div> Session Details: </div>

<div> Cost: $30/hr </div>
<div> When: Any time on the weekends or after 4:30 pm on weekdays </div>
<div> Where: Flexible! I can meet you at a coffee shop, business or home </div>
<div> How Long: Each prep session is usually between 2 and 3 hours.  This allows enough
 time to dive deep into various interview and/or coding questions! </div>

 <div> What if it isn't helpful? </div>

 <div> If you don't think the session was helpful then there isn't any charge! </div>




<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title"> Request Form </div>
	</div>
	<div class="panel-body">
		<div ng-hide="sessionConfirm">
			<div> <label> Name:  <input type="text" ng-model="sessionRequest.name"> </label> </div>
			<div> <label> Email:  <input type="text" ng-model="sessionRequest.email"> </label></div>
			<div> <label> When? <input type="text" ng-model="sessionRequest.time"> </label> </div>
			<div> <label> Any additional Info: <textarea ng-model="sessionRequest.description"> </textarea> </label></div>
			<button ng-click="submitSessionRequest()"> Request a Prep Session! </button>
		</div>
		<div ng-show="sessionConfirm">
			<div> Your request has been successfully submitted! You will hear from me soon! </div>
		</div>
	</div>
</div>



</div>
