<div class="container">

<div> Getting ready for an interview and looking for some extra prep? </div>

<div> Use the form below to request a prep session! </div>

<div> Session Details: </div>

<div> Cost: $30/hr </div>
<div> When: Any time on the weekends or after 4:30 pm on weekdays </div>
<div> Where: Flexible! I can meet you at a coffee shop, business or home </div>
<div> How Long: Each prep session is usually between 2 and 3 hours.  This allows enough
 time to dive deep into various interview and/or coding questions! </div>
<div> How is this different from doing practice interview questiosn with other services? </div>
<div> Many interview prep service offer practice interviews, which are exactly that!
You will go in and they will interview you for a half hour - an hour and then give you feeback on how you did. </div>

<div> This type of practice can be very helpful and gives you some good general interviewing feedback, but falls short. </div>
<div> You are a creative indivual with a lot to offer a company.  In addition to teh geenral interview practice, I stress
restructing your responses to really showcase what makes you an individual and a valuable employee.  </div>

<div> Instead of generic advice like "Your answers a little too long", we will dig deeply into each response, find the essence
of what you are trying to say, and then restructure them as needed in order to build a well rounded and accurate depiction of
all you have to offer as a prospective employee. </div>

 <div> What if it isn't helpful? </div>

 <div> If you don't think the session was helpful then there isn't any charge! </div>




<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title"> Request Form </div>
	</div>
	<div class="panel-body">
		<div ng-hide="sessionConfirm">
			<div> <label> Name:  <input type="text" ng-model="sessionRequest.name"> </label> </div>
			<div> <label> Email:  <input type="text" ng-model="sessionRequest.email"> </label></div>
			<div> <label> When? <input type="text" ng-model="sessionRequest.time"> </label> </div>
			<div> <label> Any additional Info: <textarea ng-model="sessionRequest.description"> </textarea> </label></div>
			<button ng-click="submitSessionRequest()"> Request a Prep Session! </button>
		</div>
		<div ng-show="sessionConfirm">
			<div> Your request has been successfully submitted! You will hear from me soon! </div>
		</div>
	</div>
</div>



</div>
